body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #38bdf8;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

select, input {
  padding: 10px;
  border-radius: 6px;
}

img {
  margin-top: 30px;
  max-width: 90%;
  border-radius: 12px;
}
